<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >
  <meta name="author" content="Eduardo Fernandez" >
  <meta name="description" content="CSE 340 - W01 Project - CSE Motors" >
  <title><%- title %> | CSE 340 App</title>
  <link rel="icon" href="/public/images/site/favicon-32x32.ico">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
  <link rel="stylesheet" href="/css/styles.css" >
  <link rel="stylesheet" href="/css/styles-large.css" >
</head>
