<nav>
    <ul>
        <li><a href="#" class="linkS">Home</a></li>
        <li><a href="#" class="linkS">Custom</a></li>
        <li><a href="#" class="linkS">Sedan</a></li>
        <li><a href="#" class="linkS">SUV</a></li>
        <li><a href="#" class="linkS">Trucks</a></li>
    </ul>
</nav>
