<div id="hero">
    <div id="hero-welcome">
        <h1 id="welcome">Welcome to CSE Motors!</h1>
        <picture id="delorean">
            <img src="/images/vehicles/delorean.jpg" alt="Delorean Small" loading="lazy" >
        </picture>
        <div id="own-box">
            <h2>DMC Delorean</h2>
            <p>3 Cupholders <br>
            Superman doors<br>
            Fuzzy dice!</p>
            <p id="actionBtnOwn">Own Today</p>
        </div>
    </div>
    <div id="hero-Upgrades">

    </div>
    <div id="hero-Reviews">
        
    </div>
</div>>