<h1>Welcome to CSE Motors!</h1>
<%- messages() %>
<div id="vehicle-layout">
    <section id="vehicle-cta">
        <img id="vehicle-image" src="/images/vehicles/delorean.jpg" alt="A delorean">
        <div class="cta-block left">
            <h2>DMC Delorean</h2>
            <ul class="attribs">
                <li>3 cup holders</li>
                <li>Superman doors</li>
                <li>Fuzzy Dice!</li>
            </ul>
            <br>
            <a href="#" >Own Today</a>
        </div>
    </section>
    <div id="details">
    <section id="reviews" class="vehicle-detail">
            <h2>DMC Delorean Reviews</h2>
            <ul>
                <li>"It's so fast, it's almost like traveling in time." (4/5)</li>
                <li>"Coolest ride on the road." (4/5)</li>
                <li>"I'm feeling McFly!" (5/5)</li>
                <li>"The most futureistic ride of our day." (4.5/5)</li>
                <li>"80's livin and lovin it!" (5/5)</li>
            </ul>
    </section>
    
    <section id="upgrades"  class="vehicle-detail">
        <h2>Delorean Upgrades</h2>
        <div class="upgrades-wrapper">
            <div class="upgrade-block">
                <div class="img-wrapper">
                    <img src="/images/upgrades/flux-cap.png" alt="flux-cap">
                </div>
                <span class="upgrade-title">Flux Capacitor</span>
            </div>
            <div class="upgrade-block">
                <div class="img-wrapper">
                    <img src="/images/upgrades/flame.jpg" alt="flame decals">
                </div>
                <span class="upgrade-title">Flame Decals</span>
            </div>
            <div class="upgrade-block">
                <div class="img-wrapper">
                    <img src="/images/upgrades/bumper_sticker.jpg" alt="bumper sticker">
                </div>
                <span class="upgrade-title">Bumper Sticker</span>
            </div>
            <div class="upgrade-block">
                <div class="img-wrapper">
                    <img src="/images/upgrades/hub-cap.jpg" alt="hub caps">
                </div>
                <span class="upgrade-title">Hub Caps</span>
            </div>
        </div>
    </section>
</div>

</div>