#im-container ul li{
    font-size: 3vw;
    text-decoration: none;
    list-style:square;
    padding-bottom: 1vw;
}

#im-container p{
    font-size: 3vw;
}

#im-container #classificationList{
    margin-bottom: 1vw;
    font-size: 3vw;
    padding-right: 2vw;
    padding-left: 2vw;
    
}

#im-container #inventoryDisplay{
    font-size: 3vw;
    padding-bottom: 0.5vw;
    border: solid 1px black;
}

#im-container #inventoryDisplay tr:nth-child(even) {
    background-color: var(--color-3);
  }

  #im-container #inventoryDisplay td{
    padding: 1vw;
  }

  #im-container #inventoryDisplay a{
    text-decoration: none;
  }