
/*** media > 800px wide  ***/
@media only screen and (min-width: 800px) {
  body #wrapper {
    max-width: 800px;
    margin: 0 auto;
  }
  #details{
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-between;
  }
  #details section{
    max-width: 48%;
  }
  #upgrades .upgrades-wrapper .upgrade-block .img-wrapper img{
    margin: .5rem auto;
    height: 85px;
  }

  nav ul li{
      padding-top: 1vw;
      padding-bottom: 1vw;
  }

  .single-vehicle-view #details{
    flex-flow: row;
  }
  .single-vehicle-view #details #vehicle-image{
    max-width: 100%;
  }
  ul#inv-display{
    flex-flow: wrap;
  }

  .form-element span{
    display: inline-block;
    font-size: large;
    width: fit-content;
    min-width: 25%;
  }
  .form-element input,  .form-element select, .form-element textarea{
    max-width: 65%;
    font-size: large;
    padding: 0.5vw;
  }



  .SubmitButton {
    padding: 1vw;
    margin-top: 0;
    margin-bottom: 2vw;
  }

  .CancelButton {
    padding: 1vw;
    margin-top: 0;
    margin-bottom: 2vw;
  }
  #showpw{
    position: absolute;
    right: -24%;
    top: calc(50% - 9px);
  }

  #vehicle-layout #details #reviews img{

    width: 100%;

    padding-bottom: 2vw;
  }
  
  #vehicle-layout #details #reviews-description{
    padding: 0.5vw;
  }
  
  #mngList ul, #mngList p, #mngList table, #mngList #classificationList {
    margin-left: 1vw;
  }

  
}