@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,500;6..12,700&family=Open+Sans:wght@400;500;600;900&family=Rock+Salt&display=swap');

:root {
  --rem: 16;
  --blue: rgb(59, 112, 227);
  --red: #992255;
  --white: #ffffff;
  --white-alpha: rgba(255,255,255,.8);
  --black: #020202;
  --table-background-color: #f2f2f2;
  --cell-border-color: #ddd;
  --row-hover-background-color: #f5f5f5;
  --font-1: 'Nunito Sans', sans-serif;
  --font-2: 'Open Sans', sans-serif;
  --font-3: 'Rock Salt', cursive;
  --color-1: #FF6B35;
  --color-2: #F7C59F;
  --color-3: #EFEFD0;
  --color-4: #004E89;
  --color-5: #1A659E;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  position: relative;
}

html,body{
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%; 
  font-size: medium;
} 
a{
  text-decoration: none;
  color: var(--black);
}
h1, h2, h3, h4, h5, h6{
  font-family: var(--font-1);
  font-weight: bolder;
}
h1{
  font-size: xx-large;
}
h2{
  font-size: x-large;
  margin: 5px 5px 15px 
}
h3{
  font-size: large;
}
h4{
  font-size: medium;
}
h5{
  font-size: small;
}
h6{
  font-size: x-small;
}
ul{
  list-style-position: outside;
  text-align: left;
  padding-left: 0;
  
}
li{
  margin-bottom: 2rem;
}
hr{
  height: 5px;
  background: var(--blue);
  border: none;
}
/** HEADER**/
header {
  display: grid;
  grid-template-columns: 40% auto;

}
header .siteName{
  padding: 5% 1rem;
  font-size: x-large;
  text-align: left;
}
header #tools{
  text-align: right;
  padding: 5% 1rem;
}

/** NAV **/
nav {
  align-content: center;
}

nav ul{
  font-size: var(--menu-font-size);
  background-color: var(--color-4);
  color: white;
  list-style: none; 
  margin: 0;  
  padding: 0;  
  display: flex; 
  text-align: center;
  text-decoration: none;
}
nav ul li{
  flex: 3;  
    padding-top: 2vw;
    padding-bottom: 2vw;
    font-family: var(--font-2);
    text-decoration: none;
    margin:0;
}
nav ul li:hover{
  background-color: var(--color-5);
 
}
nav ul li a{
  color: #ffeeff;
}
/** FOOTER **/
footer{
  text-align: left;
  padding: 5% 1rem;
}
/** BODY **/
body {
  background: url("/images/site/checkerboard.jpg"); /* Im vomiting from how gross this looks but its an assignment so 😊*/
  display: grid;
  grid-auto-columns:auto;
  column-gap: 1rem;
  font-family: var(--font-2);
  text-decoration: none;
  text-align: center;
  padding: 1rem 0;
}
body #wrapper{
  width: 100vw;
  background: var(--white);
  padding: 2%;
}
body #wrapper section{
  text-align: left;
}

/*** Tables ***/

/* Generic table style */
table {
  width: 100%;
  
  border-collapse: collapse;
}

/* Table header style */
thead, thead td {
  background-color: var(--color-2);
  text-align: center;
  font-weight: bold;
}


/* Table cell style */
td {
  padding: 4px;
  border: 1px solid var(--cell-border-color);
  text-align: left;
}

/* Optional: Add hover effect to table rows */
tbody tr:hover {
  background-color: var(--row-hover-background-color);
}


/*** Forms  ***/

.form-wrapper{
  margin: 8% auto;
  min-height: 60%;
  width: 75%;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.6);
  background: white;
  padding: 5px 15px;
  box-sizing: border-box;
  border-radius: 8px;
}
.form-header{
  text-align: center;
}
.form-footer{
  text-align: left;
  font-size: smaller;
  margin-top: 16px;
}
.form-content{
  margin-top: 5%;
}
.form-element{
  display: block;
  text-align: left;
  padding: 4px;
  height: 5%;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-size: medium;
}

#login .form-element, 
#register .form-element, 
#add-classification .form-element{
  text-align: center;
}

.form-element label span:first-child{
  padding-bottom: 5px;
}
.form-element span{
  display: block;
    width: inherit;
    min-width: 30%;
}
.form-element input{
  width: -webkit-fill-available;
  font-size: medium;
  padding: 1vw;
  margin-bottom: 1vw;
  border-radius: 5px;
}
.form-element select, .form-element textarea{
  width: -webkit-fill-available;
  max-width: 85%;
  font-size: medium;
  padding: 2px;
  border: 2px inset var(--black);
}
.form-element textarea{
  text-align: left;
  vertical-align: text-top;

}

.SubmitButton {
    background: var(--color-4);
    color: var(--white);
    padding: 2vw;
    width: 50%;
    height: 8%;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 500;
    font-size: large;
    margin-top: 1vw;
}
.SubmitButton:hover {
  background: var(--color-5);
}
.CancelButton {
  background: var(--color-2);
  color: var(--black);
  padding: 2vw;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 500;
  font-size: large;
  margin-top: 1vw;
}

.CancelButton:hover {
  background: var(--color-3);
}
.form-element span.required, .tip{
  min-width: unset;
  color: var(--red);
  font-size: x-small;
  display: inline-block;
  text-align: right;
  width: auto;
}

input:focus:invalid{
  background-color: rgb(210, 154, 154);
 }
 input:required:valid {
  background-color: rgb(137, 186, 137);
 }
.tool-tip{
  font-size: x-small;
}
#showpw{
  position: absolute;
  right: -19%;
    top: calc(50% - -1px);
}
/*** Home Page  ***/

#vehicle-cta img{
  width: 100%;
}
.cta-block{
  width: 50%;
  max-width:200px;
  position:absolute;
  top: 13%;
  color: var(--blue);
  font-weight:800;
  padding: 5% 1rem;
  background: var(--white-alpha) ;
  
}

.cta-block ul{
  list-style-type: none;
}
.cta-block ul li{
  margin-bottom: .5rem;
}
.cta-block a{
  background-color: var(--blue);
  color: var(--black);
  padding: 5% 1rem;
  margin: 1rem;
  font-weight: bolder;
}
#details{
  display: flex;
  flex-flow: column;
}
#upgrades .upgrades-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#upgrades .upgrades-wrapper .upgrade-block{
  text-align: center;
  margin: 2.5%;
  display: flex;
  flex-flow: column;
  min-width: 45%;
}
#upgrades .upgrades-wrapper .upgrade-block .img-wrapper {
  border: 2px var(--blue) inset;
}
#upgrades .upgrades-wrapper .upgrade-block .img-wrapper img{
  margin: 1.5rem auto;
  height: 85px;
}

/*** classification Page  ***/
ul#inv-display{
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: center;
  padding: 0;
  margin-left: 1vw;
  margin-right: 1vw;
}
#inv-display li{
  list-style: none;
  max-width: 30%;
  min-width: 200px;
  overflow: hidden;
  text-align: center;
  border: 2px solid var(--color-4);
  background-color: white;
  padding: 0.5vw;
  border-radius: 5%;
 
}

#inv-display li:hover{
  background-color: var(--color-3);
}

#inv-display li img{
  height: auto;
  width: 90%;
  border-radius: 10%;
}

/* VEHICLE DETAIL PAGE*/
#vehicle-layout #details #reviews{
  display: grid;
  align-items: center;
  align-content: center;
}
#vehicle-layout #details #reviews img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: auto;
  padding-bottom: 2vw;
}
#vehicle-layout #details #reviews-description{
  padding: 3vw;
}

/* ERROR PAGE*/
#error-container {
  align-content: center;
  padding-top: 2vw;
}

#error-container img{
  height: auto;
  width: 90%;
  border-radius: 15% 20px ;
}

#error-container h1{
  font-family: var(--font-3);
}

#mngList ul{
  list-style:circle;
  text-decoration: underline;
  margin-left: 5vw;
}
#mngList #classificationList{
  margin-bottom: 1vw;
}
