@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,500;6..12,700&family=Open+Sans:wght@400;500;600;900&family=Rock+Salt&display=swap');

/******* Change Box Model ***************/

:root{
  
  --header-title-size: 6vw;
  --menu-font-size: 4vw;
  --subtitle-font-size: 5vw;
  --paragraph-font-size: 3.5vw;
  --footer-font-size: 4vw;
  --font-1: 'Nunito Sans', sans-serif;
  --font-2: 'Open Sans', sans-serif;
  --font-3: 'Rock Salt', cursive;
  --color-1: #FF6B35;
  --color-2: #F7C59F;
  --color-3: #EFEFD0;
  --color-4: #004E89;
  --color-5: #1A659E;


}




main{
  font-family: var(--font-2);
}

main p{
  font-size: var(--paragraph-font-size);
}

#hero {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3,auto);
}

#hero #hero-welcome{
  grid-column: 1/2;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2,auto);
}

#hero #hero-welcome #welcome{
  grid-column: 1/2;
  grid-row: 1/2;
}

#hero #hero-welcome #delorean, #own-box{
  grid-column: 1/2;
  grid-row: 2/3;
}

#hero #hero-welcome #own-box{
  width: fit-content;
  height: fit-content;
  background-color: white;
  opacity: 80%;
  margin-left: 5vw;
  padding-bottom: 5vw;
}

#hero #hero-welcome #own-box h2,
#hero #hero-welcome #own-box p,
#hero #hero-welcome #own-box a{
  color:var(--color-4);
  font-weight: 600;

}
.links{
text-decoration: none;
color: white;
font-size: var(--paragraph-font-size);
}

h1, h2 {
  font-size: var(--subtitle-font-size);
  font-weight: 900;
}

#hero #hero-welcome #own-box #actionBtnOwn{
  background-color: var(--color-4);
  color: white;
  width: fit-content;
  padding: 1vw;
  border-radius: 10px;
  font-weight: 700;
  border: solid 2px var(--color-4);
  
}

#hero #hero-welcome #own-box #actionBtnOwn:hover{
  background-color: var(--color-5);
  box-shadow:  2px 5px 5px  #004E89;
  font-weight: 900;
  border: solid 2px var(--color-5);
  
}

#hero #hero-welcome #delorean{
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero #hero-welcome #delorean img{
  width: 95vw;
  height: auto;
}

#hero #hero-Reviews{
  grid-column: 1/2;
  grid-row: 2/3;
}




#hero #hero-Upgrades{
  grid-column: 1/2;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: repeat(1,auto);
  grid-template-rows: repeat(2,auto);

}

#hero #hero-Upgrades h2{
  grid-column: 1/2;
  grid-row: 1/2;
}

#hero #hero-Upgrades #tableBox{
  grid-column: 1/2;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: repeat(2,auto);
  grid-template-rows: repeat(2,auto);
  padding: 0;
  justify-items: center;
  align-items: center;
  padding-left: 8vw;
  padding-right: 8vw;
}

#hero #hero-Upgrades #tableBox #HBLT{
  grid-column: 1/2;
  grid-row: 1/2;
  
}

#hero #hero-Upgrades #tableBox #HBRT{
  grid-column: 2/3;
  grid-row: 1/2;
}

#hero #hero-Upgrades #tableBox #HBLB{
  grid-column: 1/2;
  grid-row: 2/3;
}

#hero #hero-Upgrades #tableBox #HBRB{
  grid-column: 2/3;
  grid-row: 2/3;
}


.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: max-content;
  height: auto;
  padding: 5vw;
}

.image {
  width: 30vw;
  height:  20vw;
  background-color: var(--color-5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  text-align: center;
  margin-top: 5px;
  font-size: var(--paragraph-font-size);
}

#error{
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  grid-template-columns: auto auto;
  grid-template-rows: 30% 20% 50%;
  padding: 1vw;
}

#error img{
  grid-column: 1/2;
  grid-row: 1/4;
  padding: 2vw;
  border-radius: 25% 10%;
  height: auto;
  width: 35vw;
}

#error h1{
  font-family: var(--font-3);
  grid-column: 2/3;
  margin: 3vw;
}

#error h2{
  font-family: var(--font-3);
  font-size: 1.5vw;
  grid-column: 2/3;
}

#error p{
  font-family: var(--font-2);
  font-size: 1.5vw;
  grid-column: 2/3;
  padding: 2vw;
}

#inv-detail {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6,auto);
  align-items: center;
  align-content: center;

}

#inv-detail img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: auto;
}

#inv-detail h2{
  text-align: left;
  margin-left: 5vw;
}

#inv-detail #inv-det,#inv-desc{
  margin-left: 10vw;
  margin-right: 10vw;
}

#inv-display {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  padding: 0;
  margin-left: 1vw;
  margin-right: 1vw;

}

#inv-display li {
  list-style-type: none;
  text-align: center;
  border: solid 1px black;
  margin: 1vw;
  padding: 1vw;
  border-radius: 5%;
}

#inv-display li:hover {
  border: solid 2px black;
  background-color: var(--color-5);
  
}

#inv-display li:hover a, li:hover span{
  color: white;
  
}

#inv-display li img{
  height: 15vw;
  width: auto;
  border-radius: 10%;
}

#inv-display li h2{
font-size: var(--paragraph-font-size);
}

.container {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: auto;
  background-color: #fff;
  border-radius: 1vw;
  padding-left: 25%;
  padding-right: 25%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

#login, #register {
  display: grid;
}

#login p, #register p{
  font-size: var(--paragraph-font-size);
}

#login span, #register span{
  font-size: 3vw;
  padding: 1vw;
}


input[type="text"],
input[type="email"],
input[type="password"]{
  width: auto;
  height: auto;
  margin-bottom: 0.5vw;
  border: 3px solid #ccc;
  border-radius: 8px;
  font-size: var(--paragraph-font-size);
  padding: 0.5vw;
}

button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  height: auto;
  border: 0;
  font-size: var(--paragraph-font-size);
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
}

button:hover {
  background-color: #0056b3;
}

#register a,
#login a {
  color: #007bff;
  text-decoration: none;
}

#register a:hover,
#login a:hover {
  text-decoration: underline;
}

.password-container{
  width: 400px;
  position: relative;
}
.password-container input[type="password"],
.password-container input[type="text"]{
  width: 100%;
  padding: 12px 36px 12px 12px;
  box-sizing: border-box;
}
.fa-eye{
  position: absolute;
  top: 28%;
  right: 4%;
  cursor: pointer;
  color: lightgray;
}

#im-container {
  padding-left: 5vw;
}
#im-container ul{
  padding-left: 5vw;
}