<section id="error">
<% if (title) { %>
   <img src="/images/site/cbew-error.jpg" alt="error chewbacca">
    <h1>Ooops!</h1>
    <h2><%= title %> - PAGE NOT FOUND</h2>
    <% } else {
        res.redirect('/')
    } %>
    
    <p>    <%- message %></p>
</section>

